.containerFrom{
    padding: 0 3rem 0 3rem ;
}
.todoFrom{
    margin-top: 3rem;
    background-color: #fff;
    padding: 2rem 4rem;
    width: 50vw;
    box-shadow: 0 4px 30px 2px lightgray, 0 3px 4px 0 lightgray;
}

.todoFrom input{
    padding: .5rem .5rem .5rem .5rem;
    width: 40vw;
    border: 1px solid lightgray;
   
}