.todoFrom{
    background-color: #fff;
    padding: 2rem 4rem;
    margin-top: 2rem;
    width: 50vw;
}

.todoFrom input{
    padding: .5rem .5rem .5rem .5rem;
    width: 40vw;
    border: 1px solid lightgray;
   
}