@import './features.scss';
@import './header.scss';
@import './loginsignup.scss';
@import './addtodofrom.scss';
@import './servercomponent.scss';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  .container{
    padding: 0 3rem 0 3rem ;
  }
  .button{
    padding: .5rem 2rem;
    width: 14vw;
    border: none;
    font-weight: bold;
  }
  .homePage{
    height: auto;
    width: 100%;
    padding: 2rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  