.serverComponent{
    background-color: #fff;
     padding: 2rem 4rem;
    width: 50vw;
    display: flex;
    justify-content: space-between;
}

.serverComponent h2{
  font-size: 2rem;
}
.serverComponent p{
    font-size: .8rem;
    margin-top: .5rem;
  }